button {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

h1 {
    margin: 0;
}

h3 {
    margin: 5%;
}

.body-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-display {
    font-family: 'Playfair Display', serif;
}
.font-display-bold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.brown {
    color: #362412;
}

.rabbit {
    width: 20%;
    height: 20%;
    transform: rotate(11deg);
    margin: 50px;
}

.app-name {
    height: 75px;
    background-color: whitesmoke;
    border-bottom: solid 8px #F57676;
    display: flex;
    padding: 7px;
    align-items: center;
    font-size: xx-large;
    margin:0;
}

.instructions {
    display: flex;
}

.modalButton {
    background-color: #F57676!important;
    border-color: #F57676!important;
}

.modalButton:hover {
    background-color: #ebacac!important;
    border-color: #ebacac!important;
}


.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
}

.instructions h3, .instructions h5 {
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 285px;
    align-items: flex-start;
    padding: 1%;
    margin: 5px;
}

.calendar-container-from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    text-align: center;
}

.calendar-container-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(245, 120, 17);
    width: 180px;
}

.body-container {
    display: flex;
    justify-content: center;
}

.uk-link:hover {
    color: beige;
    background-color: red;
}

.empty-space {
    height: 200px;
}

.linkButton{
    background: none;
    color:blue;
    border: none;
    width:fit-content;
}

.linkButton:hover{
    color: rgb(84, 84, 245);
    text-decoration: underline;
}

.modal-footer {
    justify-content: flex-start;
}


    

@media (min-width: 768px) and (max-width: 1023px) {
    .instructions,
    .body-element,
    .search-container,
    .search,
    .calendar-container-from,
    .calendar-container-to,
    #from,
    #to {
        height: 75%;
        width: 75%;
        justify-content: center;
    }};

    .app-name {
        height: 75%;
        width: 100%;
    };

@media (max-width: 767px) {
    .instructions,
    .body-element,
    .search-container,
    .search,
    .calendar-container-from,
    .calendar-container-to,
    #from,
    #to {
        height: 50%;
        width: 50%;
    }
    .app-name {
        height: 50%;
        width: 100%;
    }
};
